body,
html {
  background: pink;
  text-align: center;
}
.mask {
  margin: 30px 0;
  font-size: 3em;
  color: #870849;
}
button {
  color: #951e5a;
  background: none;
  border: 2px solid;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}
button:hover,
button:focus {
  border-color: #ef8f6e;
}
button[disabled] {
  opacity: 0.3;
  animation: none;
  border-color: inherit;
  cursor: not-allowed;
}

.hangman svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30vw;
  height: 40vh;
  transform: translate(-50%, -50%);
}
.hangman line,
.hangman circle {
  stroke: white;
  stroke-width: 4;
  fill: none;
}
